.ReviseBetResultModal {
  padding: 30px 0 15px;
  color: #fff;

  h4 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 300;
  }

  :global(.radio) {
    margin: 30px 0;

    :global(.form-check):first-child {
      width: 40%;
    }

    & label {
      font-size: 18px;
      font-weight: 300;
      margin-left: 5px;
    }
  }
}

@media (max-width: 768px) {
  .ReviseBetResultModal h4 {
    font-size: 20px;
  }

  .ReviseBetResultModal .radio label {
    font-size: 16px;
  }
}
