.change-pass-main {
  max-width: 614px;
  background: #20462D;
  border: 2px solid #2A2A2A;
  border-radius: 10px;
  padding: 30px;
  
  & .title {
    text-align: center;
    background: #06BC4A;
    color: #fff;
    font-size: 36px;
    height: 80px;
    width: 100%;
    line-height: 80px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 2px;
  }
}

.change-pass-inner {
  background: #213E2C;
  padding: 20px;
  padding-bottom: 40px;
  border: 1px solid #00DB51;

  & .tagline {
    font-size: 20px;
    color: #fff;
    margin: 40px 0;
  }
}

.btn-change-pass {
  font-size: 24px;
  font-weight: 500;
  height: 59px;
  padding: 12px;
  border-radius: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 80px;
}

@media (max-width: 1800px) {
}

@media (max-width: 992px) {
  .change-pass-main .title {
    font-size: 28px;
    height: 65px;
    line-height: 65px;
  }
}

@media (max-width: 768px) {
  .change-pass-main .title {
    font-size: 26px;
    height: 60px;
    line-height: 60px;
  }

  .change-pass-inner .tagline {
    font-size: 18px;
  }

  .btn-change-pass {
    font-size: 18px;
    height: 59px;
    margin-top: 59px;
  }
}

@media (max-width: 576px) {
  .change-pass-main {
    padding: 8px;
  
    & .title {
      font-size: 20px;
      height: 50px;
      line-height: 50px;
      font-weight: 300;
    }
  }

  .change-pass-inner {
    padding: 10px;
  
    & .tagline {
      font-size: 16px;
      color: #fff;
      margin: 30px 0;
    }
  }

  .btn-change-pass {
    font-size: 16px;
    height: 50px;
    margin-top: 60px;
  }
}
